# Configuración Backend

# Base de datos del enviador
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=baseDatos

# Backend
BACKEND_URL=https://api-localhost
PORT=3001

# Configuración Calentador de líneas
CAL_HOST=192.168.X.XXX
CAL_PORT=5432
CAL_USER=postgres
CAL_PASS=CalPass
CAL_NAME=baseDatos

# Tiempos del calentador
CAL_TINICIAL=15
CAL_TMIN=20
CAL_TMAX=40
cant_preResp=30

# Dato Cliente
CLIENTE_PHONE=1122334455

# Configuración cliente
CALENTADOR=5491133445566
CANT_CHANNELS=3
CANT_CAMPAINS=10
CANT_CALENTADORES=2

# Protección
JWT_SECRET=my-secret-jwt
NORMALIZER_VISIBLE=false
BIND_ADDRESS=0.0.0.0
